db: "postgres://user:password@localhost/skeleton_db?sslmode=disable"
#optional parameter -> connection string to couchDB
#couchdb: "http://127.0.0.1:5984/"

api:
  host: localhost
  port: 2490
  dev_mode: true
  enable_cors: true
  api_request_timeout: 60

dev_mode: true
check_auth: false
auto_migrate: true
wait_for_db: true

log:
  app_name: tx-service
  level: debug
  add_trace : true
  sentry: ""
  json: false

nats:
  host: 127.0.0.1
  port: 4222
  user: user
  password: password

links:
  user_api: http://localhost:8082/v1
  payment_gate: http://localhost:2442
  rate: http://localhost:8090
  transactions: http://localhost:2448

#workers:
#  - api-server
#  - foobar