# `Go Web-Service`

> TODO: Place here service description 

## Usage

Build:

```sh
dep ensure -v
go build .
```
Run: 

> TODO: List of run commands and args

## Configuration

> TODO: Place here config description and examples

---

Project based on [Service-Scaffold](https://gitlab.inn4science.com/gophers/service-scaffold)